{% extends "Base.jinja2" %}
{% block content %}
    <form action = {{ url_for("enterData") }} method="post">
    {{ form.ddate.label }} {{ form.ddate(id="datepicker", autocomplete="off" ) }}
    {{ form.amreading.label }} {{ form.amreading }}
    {{ form.pmreading.label }} {{ form.pmreading }}
    {{ form.annotation.label }} {{ form.annotation(size=50) }}
     {{ form.submit }}
    <a href="{{ url_for("admin") }}">Admin</a>
    </form>
{% endblock %}